USE [NewBlogDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 29.04.2019 20:18:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogUsers]    Script Date: 29.04.2019 20:18:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](25) NULL,
	[Surname] [nvarchar](25) NULL,
	[Username] [nvarchar](25) NOT NULL,
	[Password] [nvarchar](25) NOT NULL,
	[Email] [nvarchar](70) NOT NULL,
	[ProfileImageFilename] [nvarchar](30) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[ModifiedName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_dbo.BlogUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 29.04.2019 20:18:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](150) NULL,
	[CategoryImageFilename] [nvarchar](30) NULL,
	[IsDraft] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[ModifiedName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 29.04.2019 20:18:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameSurname] [nvarchar](60) NOT NULL,
	[Email] [nvarchar](70) NOT NULL,
	[Text] [nvarchar](200) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[ModifiedName] [nvarchar](30) NOT NULL,
	[Owner_Id] [int] NULL,
	[Post_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 29.04.2019 20:18:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](60) NOT NULL,
	[Text] [nvarchar](2000) NOT NULL,
	[PostImageFilename] [nvarchar](30) NULL,
	[IsDraft] [bit] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[ModifiedName] [nvarchar](30) NOT NULL,
	[Owner_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BlogUsers] ON 

INSERT [dbo].[BlogUsers] ([Id], [Name], [Surname], [Username], [Password], [Email], [ProfileImageFilename], [IsActive], [CreatedOn], [ModifiedOn], [ModifiedName]) VALUES (1, N'Caner', N'İnali', N'canerinali', N'12345', N'canerinali@gmail.com', N'user_boy.png', 1, CAST(N'2019-04-29T03:13:18.690' AS DateTime), CAST(N'2019-04-29T03:18:18.690' AS DateTime), N'canerinali')
INSERT [dbo].[BlogUsers] ([Id], [Name], [Surname], [Username], [Password], [Email], [ProfileImageFilename], [IsActive], [CreatedOn], [ModifiedOn], [ModifiedName]) VALUES (2, N'Scott', N'Rossi', N'user0', N'123', N'Carter.Walters@adamriddick.co.uk', N'user_boy.png', 1, CAST(N'2019-03-31T21:07:11.130' AS DateTime), CAST(N'2018-10-14T01:42:43.363' AS DateTime), N'user0')
INSERT [dbo].[BlogUsers] ([Id], [Name], [Surname], [Username], [Password], [Email], [ProfileImageFilename], [IsActive], [CreatedOn], [ModifiedOn], [ModifiedName]) VALUES (3, N'Zoey', N'Wood', N'user1', N'123', N'Parker.Roberts@arstechnica.co', N'user_boy.png', 1, CAST(N'2018-07-27T16:56:06.840' AS DateTime), CAST(N'2018-10-01T06:40:33.070' AS DateTime), N'user1')
SET IDENTITY_INSERT [dbo].[BlogUsers] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Title], [Description], [CategoryImageFilename], [IsDraft], [CreatedOn], [ModifiedOn], [ModifiedName]) VALUES (1, N'Osborne Hill', N'731 Lord Close', N'post_1.jpeg', 0, CAST(N'2019-04-29T03:13:19.077' AS DateTime), CAST(N'2019-04-29T11:57:18.957' AS DateTime), N'system')
INSERT [dbo].[Categories] ([Id], [Title], [Description], [CategoryImageFilename], [IsDraft], [CreatedOn], [ModifiedOn], [ModifiedName]) VALUES (2, N'Carroll Road', N'358 Stuart Walk', N'post_2.jpeg', 0, CAST(N'2019-04-29T03:13:19.087' AS DateTime), CAST(N'2019-04-29T11:57:31.397' AS DateTime), N'system')
INSERT [dbo].[Categories] ([Id], [Title], [Description], [CategoryImageFilename], [IsDraft], [CreatedOn], [ModifiedOn], [ModifiedName]) VALUES (3, N'Boyd Valley', N'324 Smith Mews', N'post_3.jpeg', 0, CAST(N'2019-04-29T03:13:19.107' AS DateTime), CAST(N'2019-04-29T11:57:41.453' AS DateTime), N'system')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [NameSurname], [Email], [Text], [CreatedOn], [ModifiedOn], [ModifiedName], [Owner_Id], [Post_Id]) VALUES (1, N'Jordan Dale', N'G.Mcfarlane@bet365.co.uk', N'Pellentesque commodo risus vitae orci pretium tincidunt.', CAST(N'2018-08-05T16:11:44.463' AS DateTime), CAST(N'2018-11-13T09:58:45.347' AS DateTime), N'user2', 4, 1)
INSERT [dbo].[Comments] ([Id], [NameSurname], [Email], [Text], [CreatedOn], [ModifiedOn], [ModifiedName], [Owner_Id], [Post_Id]) VALUES (2, N'Molly Robinson', N'Dominic.Wilson@google.org', N'Donec dignissim massa nec urna porttitor facilisis.', CAST(N'2019-03-30T16:16:31.140' AS DateTime), CAST(N'2019-03-26T11:17:25.537' AS DateTime), N'user4', 6, 1)
INSERT [dbo].[Comments] ([Id], [NameSurname], [Email], [Text], [CreatedOn], [ModifiedOn], [ModifiedName], [Owner_Id], [Post_Id]) VALUES (3, N'Samantha Mcfarlane', N'Eva.Hooper@youtube.co', N'Suspendisse tempor dui id libero interdum, vulputate malesuada felis dapibus.', CAST(N'2019-03-03T21:43:45.357' AS DateTime), CAST(N'2018-05-21T15:05:06.900' AS DateTime), N'canerinali', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Comments] OFF
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([Id], [Title], [Text], [PostImageFilename], [IsDraft], [CategoryId], [CreatedOn], [ModifiedOn], [ModifiedName], [Owner_Id]) VALUES (1, N'wrvvpymje', N'Nullam et enim congue, pretium eros id, pretium nibh. Nullam et tellus posuere, consectetur ante eget, iaculis lorem.', N'post-3.jpg', 0, 1, CAST(N'2019-01-27T07:02:15.953' AS DateTime), CAST(N'2018-11-10T19:34:09.027' AS DateTime), N'canerinali', 1)
INSERT [dbo].[Posts] ([Id], [Title], [Text], [PostImageFilename], [IsDraft], [CategoryId], [CreatedOn], [ModifiedOn], [ModifiedName], [Owner_Id]) VALUES (2, N'jmyyfvrwsbacckxqm', N'Suspendisse a diam vitae erat pretium pharetra.', N'post-3.jpg', 0, 1, CAST(N'2018-07-30T18:43:43.733' AS DateTime), CAST(N'2018-07-27T14:29:17.000' AS DateTime), N'canerinali', 1)
INSERT [dbo].[Posts] ([Id], [Title], [Text], [PostImageFilename], [IsDraft], [CategoryId], [CreatedOn], [ModifiedOn], [ModifiedName], [Owner_Id]) VALUES (3, N'xannvphvmtevzwwsgtkshuzy', N'Nulla hendrerit ligula in eros suscipit sagittis. Maecenas ac ligula interdum, faucibus leo in, faucibus quam.', N'post-3.jpg', 0, 1, CAST(N'2019-04-26T20:42:41.363' AS DateTime), CAST(N'2018-11-17T03:03:12.007' AS DateTime), N'user6', 8)
SET IDENTITY_INSERT [dbo].[Posts] OFF
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.BlogUsers_Owner_Id] FOREIGN KEY([Owner_Id])
REFERENCES [dbo].[BlogUsers] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.BlogUsers_Owner_Id]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Posts_Post_Id] FOREIGN KEY([Post_Id])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Posts_Post_Id]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Posts_dbo.BlogUsers_Owner_Id] FOREIGN KEY([Owner_Id])
REFERENCES [dbo].[BlogUsers] ([Id])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_dbo.Posts_dbo.BlogUsers_Owner_Id]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Posts_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_dbo.Posts_dbo.Categories_CategoryId]
GO
