
<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="row">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.5638642814056!2d28.53415321495282!3d41.01291822708897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b55d9cd74e8063%3A0x494c8c85c153f826!2zTXVyYXQgw4dlxZ9tZSwgRXNraSBTaWxpdnJpIFlvbHUgQ2QuIE5vOjk0LCAzNDUzNSBCw7x5w7xrw6dla21lY2UvxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1562892704218!5m2!1str!2str" width="522" height="519" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <div class="col-md-6">
                                <div class="title-box-2 pt-4 pt-md-0">
                                    <h5 class="title-left">
                                        Bize Ulaşın
                                    </h5>
                                </div>
                                <div class="more-info">
                                    <p class="lead">
                                        İletişim için firmamızı ziyaret edebilir veya telefon ile bize ulaşabilirsiniz...
                                    </p>
                                    <ul class="list-ico">
                                        <li><span class="ion-ios-location"></span> Muratçeşme Mahallesi Eski Silivri Caddesi No: 94/A Büyükçekmece/İstanbul</li>
                                        <li><span class="ion-ios-telephone"></span> 0545 653 01 53 </li> 
                                        <li><span class="ion-ios-telephone"></span> 0543 487 27 81 </li>
                                        <li><span class="ion-email"></span> mcoraotomotiv@gmail.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright-box">
                        <p class="copyright">&copy; Copyright <strong>DevFolio</strong>. All Rights Reserved</p>
                        <div class="credits">
                            <!--
                              All the links in the footer should remain intact.
                              You can delete the links only if you purchased the pro version.
                              Licensing information: https://bootstrapmade.com/license/
                              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
                            -->
                            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>
<!--/ Section Contact-footer End /-->