@using Blog.Entities.ValueObject
@model LoginViewModel

@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <title>Admin Giriş</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/LoginTemplate/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/css/main.css">
    <!--===============================================================================================-->
    <link href="~/Content/Errorstyle.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm())
    {
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100 p-t-85 p-b-20">
                    <form class="login100-form validate-form">
                        <span class="login100-form-title p-b-70">
                            Hoş Geldiniz
                        </span>
                        <span class="login100-form-avatar">
                            <img src="~/LoginTemplate/images/image02.jpg" alt="AVATAR">
                        </span>

                        <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Enter username">
                            @Html.TextBoxFor(model => model.Username, new { @class = "input100", type = "text", name = "username", })
                            <span class="focus-input100" data-placeholder="Username"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                            @Html.TextBoxFor(model => model.Password, new { @class = "input100", type = "password", name = "pass", })
                            <span class="focus-input100" data-placeholder="Password"></span>
                        </div>

                        <div class="container-login100-form-btn">
                            <button type="submit" class="login100-form-btn">
                                Login
                            </button>
                        </div>
                        <br />
                        <br />
                        @Html.ValidationSummary(false)
                    </form>
                </div>
            </div>
        </div>
    }



    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/LoginTemplate/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginTemplate/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginTemplate/vendor/bootstrap/js/popper.js"></script>
    <script src="~/LoginTemplate/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginTemplate/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginTemplate/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/LoginTemplate/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginTemplate/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginTemplate/js/main.js"></script>

</body>
</html>